<!DOCTYPE html>

<html style="background-color:white">

<head>
    <link rel="stylesheet" href="css/style.css">
    </link>
</head>

<body>
    <div class="grid-container">
        {{>header}}
        <div id="cat_container">
            {{#each categories}}<div class="categories" data-id={{this.category_id}} data-title="{{this.category_title}}" data-index="{{this.category_index}}">
                <div class="cat_title">{{this.category_title}}<button class="delCatButton" onclick="deleteCat(this)">x</button></div>
                {{#each this.card_list}}
                <label class="flip">
                    <input type="checkbox" class="invisCheck"/>
                    <div class="card" data-id={{this.card_id}} data-front="{{this.card_front}}" data-back="{{this.card_back}}"
                        data-index={{this.card_index}}>
                        <div class="front"><h3>{{this.card_front}}</h3><button class="card-edit" onclick="edit_card(this)">Edit</button></div>
                        <div class="back"><p>{{this.card_back}}</p><button class="card-edit" onclick="edit_card(this)">Edit</button></div>
                    </div>
                </label>
                {{/each}}<button id="createCard" onclick="createCard(this)">+</button>
            </div>{{/each}}<input id="createCat" type="button" value="+" onclick="addCat()" />

        </div>

    </div>

</body>

<script src='js/index.js'></script>

</html>
