<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    </link>
</head>

<body>
    {{>header}}
    <form method="POST" id="cat_container">
        {{#each categories}}
        <div class="categories" data-id={{this.category_id}} data-title={{this.category_title}} data-index={{this.category_index}}>
            <div class="cat_title">{{this.category_title}}</div>
            {{#each this.card_list}}
            <label>
                <input type="checkbox"  />
                <div class="cards" class="card" data-id={{this.card_id}}>
                    <div class="front">Front<!--{{this.card_title}}--></div>
                    <div class="back">Back<!--{{this.card_description}}--></div>
                </div>
            </label>
            {{/each}}
        </div>
        {{/each}}
        <input class="create_cat" type="button" value="+" />
    </form>


</body>




</html>