<!DOCTYPE html>

<html style="background-color:rgb(7, 192, 7)">

<head>
    <link rel="stylesheet" href="css/style.css">
    </link>
</head>

<body>
    {{>header}}
    <div id="cat_container">
        {{#each categories}}
        <div class="categories" data-id={{this.category_id}} data-title={{this.category_title}} data-index={{this.category_index}}>
            <div class="cat_title">{{this.category_title}}</div>
            {{#each this.card_list}}
            <div class="cards">{{this.card_id}}</div>
            {{/each}}
        </div>
        {{/each}}
        <input id="createCat" type="button" value="+" />

    </div>



</body>

<script>
    document.getElementById("createCat").addEventListener("click", () => {
        fetch(`http://localhost:${location.port}/createCategory/`, {
            method: 'post',
        }).then(res => {
            let newDiv = document.createElement("div")
            newDiv.className = `categories`
            newDiv.dataset.id = res.id
            newDiv.dataset.title = `New Category`
            newDiv.dataset.index = res.index
            newDiv.innerHTML = `<div class="cat_title">${newDiv.dataset.title}</div>`
            document.getElementById("cat_container").insertBefore(newDiv, document.getElementById("createCat"))
            console.log(res)
        })
    })
</script>

</html>